In [12]:
import pandas as pd
df = pd.read_csv('../data/raw/fraudTest.csv')

# Quick look
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [13]:
import pandas as pd

df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'])
df['dob'] = pd.to_datetime(df['dob'])

# Create additional time features
df['trans_hour'] = df['trans_date_trans_time'].dt.hour
df['trans_day'] = df['trans_date_trans_time'].dt.day
df['trans_weekday'] = df['trans_date_trans_time'].dt.weekday
df['trans_month'] = df['trans_date_trans_time'].dt.month

# Calculate age
df['age'] = (pd.to_datetime('today') - df['dob']).dt.days // 365

In [14]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,trans_num,unix_time,merch_lat,merch_long,is_fraud,trans_hour,trans_day,trans_weekday,trans_month,age
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0,12,21,6,6,57
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0,12,21,6,6,36
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0,12,21,6,6,55
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0,12,21,6,6,38
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0,12,21,6,6,70

In [15]:
df = df.drop_duplicates()

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 28 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  datetime64[ns]
 2   cc_num                 555719 non-null  int64
 3   merchant               555719 non-null  object
 4   category               555719 non-null  object
 5   amt                    555719 non-null  float64
 6   first                  555719 non-null  object
 7   last                   555719 non-null  object
 8   gender                 555719 non-null  object
 9   street                 555719 non-null  object
 10  city                   555719 non-null  object
 11  state                  555719 non-null  object
 12  zip                    555719 non-null  int64
 13  lat                    555719 non-null  float64
 14  long                   555719 non-null  float64
 15  city_pop               555719 non-null  int64
 16  job                    555719 non-null  object
 17  dob                    555719 non-null  datetime64[ns]
 18  trans_num              555719 non-null  object
 19  unix_time              555719 non-null  int64
 20  merch_lat              555719 non-null  float64
 21  merch_long             555719 non-null  float64
 22  is_fraud               555719 non-null  int64
 23  trans_hour             555719 non-null  int32
 24  trans_day              555719 non-null  int32
 25  trans_weekday          555719 non-null  int32
 26  trans_month            555719 non-null  int32
 27  age                    555719 non-null  int64
dtypes: datetime64[ns](2), float64(5), int32(4), int64(7), object(10)
memory usage: 110.2+ MB

In [17]:
cols = ['merchant', 'category','gender', 'job','cc_num','street','city','state','zip',]

df[cols].nunique()

merchant    693
category     14
gender        2
job         478
cc_num      924
street      924
city        849
state        50
zip         912
dtype: int64

In [18]:
#columns to drop
cols_to_drop = [
    # Index / IDs
    'Unnamed: 0',
    'cc_num',
    'trans_num',

    # Personal info
    'first',
    'last',
    'street',
    'dob',

    # Raw datetime & time representations
    'trans_date_trans_time',
    'unix_time',

    # Location text & codes
    'zip',
    'city',

    # Raw latitude & longitude (after distance feature)
    'lat',
    'long',
    'merch_lat',
    'merch_long'
]

# Drop all at once
df = df.drop(columns=cols_to_drop)

# Verify
print(df.columns)
print(df.shape)

Index(['merchant', 'category', 'amt', 'gender', 'state', 'city_pop', 'job',
       'is_fraud', 'trans_hour', 'trans_day', 'trans_weekday', 'trans_month',
       'age'],
      dtype='object')
(555719, 13)

In [19]:
df.head()

,merchant,category,amt,gender,state,city_pop,job,is_fraud,trans_hour,trans_day,trans_weekday,trans_month,age
0,fraud_Kirlin and Sons,personal_care,2.86,M,SC,333497,Mechanical engineer,0,12,21,6,6,57
1,fraud_Sporer-Keebler,personal_care,29.84,F,UT,302,"Sales professional, IT",0,12,21,6,6,36
2,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,F,NY,34496,"Librarian, public",0,12,21,6,6,55
3,fraud_Haley Group,misc_pos,60.05,M,FL,54767,Set designer,0,12,21,6,6,38
4,fraud_Johnston-Casper,travel,3.19,M,MI,1126,Furniture designer,0,12,21,6,6,70

In [20]:
df.duplicated().sum()
#df.drop_duplicates(inplace=True)

np.int64(0)

In [21]:
df.isnull().sum()

merchant         0
category         0
amt              0
gender           0
state            0
city_pop         0
job              0
is_fraud         0
trans_hour       0
trans_day        0
trans_weekday    0
trans_month      0
age              0
dtype: int64

In [22]:
merchant_freq = df['merchant'].value_counts(normalize=True)
df['merchant_enc'] = df['merchant'].map(merchant_freq)
df = df.drop(columns=['merchant'])
#Captures how often a merchant appears

In [23]:
df.head()

,category,amt,gender,state,city_pop,job,is_fraud,trans_hour,trans_day,trans_weekday,trans_month,age,merchant_enc
0,personal_care,2.86,M,SC,333497,Mechanical engineer,0,12,21,6,6,57,0.001324
1,personal_care,29.84,F,UT,302,"Sales professional, IT",0,12,21,6,6,36,0.001413
2,health_fitness,41.28,F,NY,34496,"Librarian, public",0,12,21,6,6,55,0.001359
3,misc_pos,60.05,M,FL,54767,Set designer,0,12,21,6,6,38,0.001279
4,travel,3.19,M,MI,1126,Furniture designer,0,12,21,6,6,70,0.000666

In [24]:
job_freq = df['job'].value_counts(normalize=True)
df['job_enc'] = df['job'].map(job_freq)
df = df.drop(columns=['job'])

In [25]:
df.head()

,category,amt,gender,state,city_pop,is_fraud,trans_hour,trans_day,trans_weekday,trans_month,age,merchant_enc,job_enc
0,personal_care,2.86,M,SC,333497,0,12,21,6,6,57,0.001324,0.004373
1,personal_care,29.84,F,UT,302,0,12,21,6,6,36,0.001413,0.004562
2,health_fitness,41.28,F,NY,34496,0,12,21,6,6,55,0.001359,0.004655
3,misc_pos,60.05,M,FL,54767,0,12,21,6,6,38,0.001279,0.001193
4,travel,3.19,M,MI,1126,0,12,21,6,6,70,0.000666,0.001603

In [26]:
#after doing frequency encoding which job has more fraud is not important but if the job is rare or not is important.

In [27]:
df = pd.get_dummies(df, columns=['category'], drop_first=True)
#does one hot encoding creating 14 diff columns, category is a important factor in fraud.

In [28]:
df.head()

,amt,gender,state,city_pop,is_fraud,trans_hour,trans_day,trans_weekday,trans_month,age,...,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel
0,2.86,M,SC,333497,0,12,21,6,6,57,...,False,False,False,False,False,False,True,False,False,False
1,29.84,F,UT,302,0,12,21,6,6,36,...,False,False,False,False,False,False,True,False,False,False
2,41.28,F,NY,34496,0,12,21,6,6,55,...,False,True,False,False,False,False,False,False,False,False
3,60.05,M,FL,54767,0,12,21,6,6,38,...,False,False,False,False,False,True,False,False,False,False
4,3.19,M,MI,1126,0,12,21,6,6,70,...,False,False,False,False,False,False,False,False,False,True

In [29]:
df['gender'] = df['gender'].map({'M': 0, 'F': 1})

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 25 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   amt                      555719 non-null  float64
 1   gender                   555719 non-null  int64
 2   state                    555719 non-null  object
 3   city_pop                 555719 non-null  int64
 4   is_fraud                 555719 non-null  int64
 5   trans_hour               555719 non-null  int32
 6   trans_day                555719 non-null  int32
 7   trans_weekday            555719 non-null  int32
 8   trans_month              555719 non-null  int32
 9   age                      555719 non-null  int64
 10  merchant_enc             555719 non-null  float64
 11  job_enc                  555719 non-null  float64
 12  category_food_dining     555719 non-null  bool
 13  category_gas_transport   555719 non-null  bool
 14  category_grocery_net     555719 non-null  bool
 15  category_grocery_pos     555719 non-null  bool
 16  category_health_fitness  555719 non-null  bool
 17  category_home            555719 non-null  bool
 18  category_kids_pets       555719 non-null  bool
 19  category_misc_net        555719 non-null  bool
 20  category_misc_pos        555719 non-null  bool
 21  category_personal_care   555719 non-null  bool
 22  category_shopping_net    555719 non-null  bool
 23  category_shopping_pos    555719 non-null  bool
 24  category_travel          555719 non-null  bool
dtypes: bool(13), float64(3), int32(4), int64(4), object(1)
memory usage: 49.3+ MB

In [31]:
# Convert all boolean columns to int
bool_cols = df.select_dtypes(include='bool').columns
df[bool_cols] = df[bool_cols].astype(int)

In [32]:
state_freq = df['state'].value_counts(normalize=True)
df['state_enc'] = df['state'].map(state_freq)
df = df.drop(columns=['state'])
# frequency encoding for 50states

In [33]:
from sklearn.preprocessing import StandardScaler

num_cols = ['amt', 'city_pop', 'age', 'merchant_enc', 'job_enc',
            'trans_hour', 'trans_day', 'trans_weekday', 'trans_month']

scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

In [34]:
df.head()

,amt,gender,city_pop,is_fraud,trans_hour,trans_day,trans_weekday,trans_month,age,merchant_enc,...,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel,state_enc
0,-0.424463,0,0.816521,0,-0.118789,0.506526,1.502388,-1.773597,0.303310,-0.622497,...,0,0,0,0,0,1,0,0,0,0.022567
1,-0.252337,1,-0.292685,0,-0.118789,0.506526,1.502388,-1.773597,-0.900787,-0.406216,...,0,0,0,0,0,1,0,0,0,0.008382
2,-0.179353,1,-0.178853,0,-0.118789,0.506526,1.502388,-1.773597,0.188635,-0.538633,...,1,0,0,0,0,0,0,0,0,0.064633
3,-0.059605,0,-0.111371,0,-0.118789,0.506526,1.502388,-1.773597,-0.786111,-0.732844,...,0,0,0,0,1,0,0,0,0,0.032578
4,-0.422358,0,-0.289942,0,-0.118789,0.506526,1.502388,-1.773597,1.048704,-2.237981,...,0,0,0,0,0,0,0,0,1,0.035397

In [36]:
df.to_csv('../data/processed/cleaned_data.csv', index=False)